@tailwind base;
@tailwind components;
@tailwind utilities;

* {  
    margin: 0;
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
    outline-color: #6b7280;
}

.li {
    cursor: pointer;
    user-select: none;
}

.li:hover {
    text-decoration: underline;
}

.sans {
    font-family: sans-serif;
}


.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid #2b2b2b;
}
@media (max-width: 700px) {
    .custom-scrollbar::-webkit-scrollbar {
        width: 0;
    }
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffffff62;
}
  
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff80;
}
  
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
  
.hov:hover {
    color: white;
    background-color: #4b4b4b;
}
.hov:hover > #arrow1 {
    display: block;
}
.hov:hover > #arrow2 {
    display: block;
}

@media (min-width: 700px) {
    .hov2:hover > #cont {
        width: 260px;
    }
}

.overlap-scr::-webkit-scrollbar {
    display: none;
}

td {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 850px) {
    td {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.loading-animate {
    animation: rotate .5s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

.hover-container {
    /* position: relative; */
    display: inline-block;
  }

.custom-tag {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.custom-tag::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333 transparent transparent ;
}

@media (max-width: 1000px) {
    .custom-tag {
        top: 180%;
        right: 100%;
        transform: translateX(-100%) translateY(-50%);
        /* transform: translateY(-50%); */
    }
    .custom-tag::after {
        top: -19%;
        right: 6.5%;
        transform: translateY(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
    }
}

.hover-container:hover .custom-tag {
    opacity: 1;
    visibility: visible;
}